<div class="" style="padding-top: 1px;">
  <div id="landingWrapper" class="bg-green">

    <div id="landingContainer">
      <div class="row height-100-percent">
        <div class="col-md-6">
          <div class="flex-row height-100-percent">
            <div id="landingHeader" class="flex-md-column d-flex justify-content-center align-items-center height-100-percent">
              <div id="headerContent">
                <h4 class="white-font"><span class="black-font">Improve</span> The Industry</h4>
                <p class="white-font top24 font-large">LeafList is a reputation and network management tool for the
                  cannabis industry. Please enter your information to request access.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="circleOverlay" aria-hidden="true"></div>

    <div id="signupWrapper">
      <leaflist-signup-button></leaflist-signup-button>
    </div>

  </div>
</div>