<div class="row">
  <div class="col-md-12 no-gutters no-padding">
    <div class="card margin12">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h2>Members</h2>
          </div>
          <div class="col-md-6 top24 text-left text-sm-right text-md-right text-lg-right">
            <div class="sides action-font link d-block d-sm-inline d-md-inline">
              <span class="action-font pr-2">&lt;</span>
              <span class="action-font link btn-link">LeafList</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row noshrink experience-card top24" *ngIf="!connections; else connectionList">
          <div class="col-md-12 text-center grey-font font-large">
            You currently have no connections. Start growing your network, planting the seeds for new business
            opportunities, and improving the reputation of the cannabis industry.
          </div>
        </div>
        <ng-template #connectionList>
          <leaflist-person-card-list></leaflist-person-card-list>
        </ng-template>
      </div>
    </div>
  </div>
</div>