<div class="row">
  <div class="col-md-12 no-gutters no-padding">
    <div class="card margin12">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>Direct Requests</h2>
          </div>
          <div class="col-12 top24 col-md-6 text-left text-md-right" *ngIf="isDashboard">
            <div class="align-center sides" [routerLink]="['/myaccount/connections']">
              <span class="link action-font btn-link">View all connections</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row justify-center flex-wrap ">
        </div>
      </div>
    </div>
  </div>
</div>