.question-container {
  padding: 0 48px 48px;
}

.question-header {
  padding: 0px;
  justify-content: center;
  border: none;
}

.question-header h4 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
  border-bottom: 1px solid #f1f4f9;
  align-items: baseline;
  padding: 0 48px 24px;
  width: 100%;
}

.question-header .link {
  display: none;
}

.question-body {
  padding: 0 0 24px;
}

.question-body h5 {
  font-size: 16px;
  margin-bottom: 24px;
}

.question-answers {
  list-style: none;
  margin: 0;
  padding: 6px 0 0;
}

.question-answers li {
  border-radius: 24px;
  border: 1px solid #f1f4f9;
  color: #3fc380;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  min-height: 48px;
  padding: 12px 48px;
  margin: 6px 0;
  text-align: left;
}

.question-answers li:hover {
  background: #f1f4f9;
}

.question-answers li.selected {
  background: #58e0ab;
  /* Old browsers */
  background: linear-gradient(to right, #58e0ab 0%, #48cc96 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #212223;
}

.question-answers li.selected:hover {
  background: #58e0ab;
  /* Old browsers */
  background: linear-gradient(to right, #58e0ab 0%, #48cc96 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #212223;
}

.question-footer {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.question-skip {
  min-width: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  letter-spacing: 1px;
  padding: 0 18px;
  text-align: center;
  white-space: nowrap;
  transition: color 2s ease, background 2s ease;
}

.question-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  letter-spacing: 1px;
  padding: 0 18px;
  text-align: center;
  white-space: nowrap;
  transition: color 2s ease, background 2s ease;
}