<div class="row">
  <div class="col-md-12 py-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h2>Reputation Endorsements</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="flex-column">
              <div class="top12">Reliability</div>
              <div class="row align-center">
                <div class="action-background" style="width: 10%;"></div>
                <div class="endorsement-circle">0</div>
              </div>
              <div class="top12">Professionalism</div>
              <div class="row align-center">
                <div class="action-background" style="width: 20%;"></div>
                <div class="endorsement-circle">0</div>
              </div>
              <div class="top12">Transparency</div>
              <div class="row align-center">
                <div class="action-background" style="width: 100%;"></div>
                <div class="endorsement-circle">0</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="flex-column">
              <div class="top12">Courtesy</div>
              <div class="row align-center">
                <div class="action-background" style="width: 0%;"></div>
                <div class="endorsement-circle">0</div>
              </div>
              <div class="top12">Timeliness</div>
              <div class="row align-center">
                <div class="action-background" style="width: 0%;"></div>
                <div class="endorsement-circle">0</div>
              </div>
              <div class="top12">Integrity</div>
              <div class="row align-center">
                <div class="action-background" style="width: 0%;"></div>
                <div class="endorsement-circle">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>