#mainContainer {
  background-color: #f1f4f9;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 24px;
  margin-bottom: 12px;
}

.rating-bar {
  height: 6px;
  background: #f1f4f9;
  margin-top: 6px;
}

.rating-bar-inner {
  height: 6px;
  box-shadow: 0 5px 15px rgba(72, 204, 150, 0.5);
  width: 0;
  transition: width 2s ease-out;
}