<div class="row justify-content-md-center">
    <div class="col-md-7">
        <div class="row">
            <p>LeafList's Rating System attempts to accurately represent an individual or organization's professional
                reputation in the cannabis industry. You can begin to build your reputation points by completing your
                profile and interacting with other LeafList users and organizations.</p>
        </div>
        <div class="row align-items-end">
            <div class="col-md-3 text-right mb-4">
                <div class="leaf-rating">
                    <div class="">User's leaf rating</div>
                    <div class=" arrow">⟶</div>
                </div>
            </div>
            <div class="col-md-6">
                <leaflist-person-card></leaflist-person-card>
            </div>
            <div class="col-md-3 text-left mb-4">
            <div class="leaf-point">
                <div class="arrow">⟵</div>
                <div class="">
                    User's total points
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-3">
            <p>It is important to only certify relationships on LeafList with professionals that you know and trust,
                and only connect with those that you would recommend to others based on your experiences with these
                professionals. You can also build your reputation by indicating membership in or donations to
                organizations within the cannabis community. Memberships and donations are vefiried by LeafList admin
                staff.</p>
        </div>
    </div>
</div>