<div class="person-card p-2">
  <div class="card pointer">
    <div class="background picture-border-connected" style="background-image: url('https://storage.googleapis.com/leaflist-com.appspot.com/5749087966068736/tylerheadshot.png');"></div>
    <div class="top24 action-font text-center">Tyler Aldridge</div>
    <div class="secondary-label">LeafList</div>
    <div class="row align-center flex_0 top24 body-secondary justify-center border-top padding24">
      <div class="leaf-icon"></div>
      <div class="left24 body-secondary">3,335</div>
    </div>
    <div class="button-under-widget" aria-hidden="true" *ngIf="isInvitation">
      <div class="request-button bottom24 button-small initiation_btn ">
        <div>Resend</div>
      </div>
    </div>
    <div class="button-under-widget" aria-hidden="true" *ngIf="isNewRequest">
      <div class="request-button bottom24 button-small initiation_btn ">
        <div>Send Request</div>
      </div>
    </div>
  </div>
</div>