#mainContainer {
    background-color: #f1f4f9;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 24px;
    margin-bottom: 12px;
  }
  
  h1 {
    padding-left: 12px;
    padding-right: 12px;
    color: #a7b0b7;
  }
  
  .btn-link:focus, .btn-link:active {
    outline: none !important;
    box-shadow: none;
  }