<div class="row no-gutters no-padding d-flex justify-content-center align-content-center">
    <div class="col-md-6">
        <div class="row">
            <h2>You're Ready to Dive In!</h2>
            <p>LeafList is a platform for reputation and network management for professionals in the cannabis industry.
                It is a great way to ensure that the best people and organizations have a chance to succeed and build
                towards a sustainable future.</p>
            <p>Your LeafList rating is very important. Build it carefully and through positive interactions on the
                platform. It will show to others what you stand for and those you surround yourself with and support.</p>
            <p>Only certify relationships with quality individuals from your real-life professional network. It
                represents the people and organizations you would like to see succeed in the industry and acts as your
                official statement of trust. It will also impact both users' reputation points and Leaf levels.</p>
            <p>Interact with LeafList news and questions to learn more about the industry and to provide your feedback
                to help build a better community.</p>
            <p>Remember, most things you do on the LeafList platform will impact your reputation rating!</p>
        </div>
    </div>
</div>