<div id="landingFooterWrapper" class="bg-green">

  <div id="landingFooterContent">
    <h4 class="white-font ">Get Started Today!</h4>
    <p class="white-font top48 font-large">LeafList promoted professional social networking by using a proven rating
      system.
      Members will be able to efficiently target new opportunities with other trusted members in the caanbis community.
      Use LeafList to reliably grow your professional network and encourage other leaders to work with the best people
      available in our industry.</p>
  </div>

  <div id="signupWrapper">
    <leaflist-signup-button></leaflist-signup-button>
  </div>

  <div id="triangleOverlay" aria-hidden="true"></div>

</div>