<div class="description-items row">

  <div class="col-md-4 description-item">
    <div class="square-wrapper">
      <div class="description-item-content">
        <div class="item-number">01</div>
        <img src="../../../../assets/images/connect-icon.png" />
        <div class="item-content">
          <div class="green-border"></div>
          <h6>Connect</h6>
          <p class="top12">LeafList provides professionals an easy way to grow and build relationships within the
            industry.
            Expand your network in a reliable manner.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 description-item">
    <div class="square-wrapper">
      <div class="description-item-content">
        <div class="item-number">02</div>
        <img src="../../../../assets/images/ratings-icon.png" />
        <div class="item-content">
          <div class="green-border"></div>
          <h6>Review Ratings</h6>
          <p class="top12">Use the LeafList ratings system to evaluate and increase your network.
            Leave testimonials for companies and colleagues to increase their ratings and standings within the
            industry.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 description-item">
    <div class="square-wrapper">
      <div class="description-item-content">
        <div class="item-number">03</div>
        <img src="../../../../assets/images/social-icon.png" />
        <div class="item-content">
          <div class="green-border"></div>
          <h6>Be Social</h6>
          <p class="top12">Invite more trusted members of the community to LeafList.
            Add your LeafList profile to your social media presence to advertise your rating!</p>
        </div>
      </div>
    </div>
  </div>

</div>