<div class="row">
  <div class="col-md-12">
    <div class="profile-card py-4">
      <div class="card ">
        <div class="card-body">
          <div class="background picture-border-connected" style="background-image: url('https://storage.googleapis.com/leaflist-com.appspot.com/5749087966068736/tylerheadshot.png');"></div>
          <div class="profile-name pt-4 pb-2 text-center">Isuru Gunadasa</div>
          <div class="row text-center justify-center py-3 flex-grow-0">
            <div class="leaf-icon"></div>
            <div class="left24 body-secondary activity-points">3,335</div>
          </div>
          <div class="row justify-center py-3 flex-grow-0">
            <div class="button-outline">
              <div>Edit</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="profile-industryrole">
                <div class="bold">Industry Role</div>
                <div>Technology/Software</div>
              </div>
              <div class="profile-location top24">
                <div class="bold">Location</div>
                <div>Gampaha, Western 11056, Sri Lanka</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>